.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 14px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	min-width: 291px;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #3e8e41;
}
#myInput {
	border-box: box-sizing;
	background-position: 14px 12px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 14px 20px 12px 45px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 291px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.nav li a:hover { 
	background-color: #4CAF50;
	color: #ffffff;
}

div.thumbnail2 {
	border-radius: 0px;
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
}
