*{
	box-sizing:  border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body{
	font-family: arial;
	font-weight: 300px;
	color: #333;
	line-height: 1.254;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #3b8bba;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

a:hover, a:visited{
	color: #265778;

}
/*chia cot web*/
#container{
	padding-left: 150px;
	position: relative;
	left: 0;
	width: 100%;
}
#menu{
	position:  fixed;
	height: 100%;
	background-color: #7d2929;
	width: 150px;
	left: 0;

}
#sidebar{
	position:  fixed;
	height: 50px;
	background-color: #7d2929;
	width: 100%;
	height: 2em;
	left: 0;

}
/*mecun*/
#menu ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#menu ul li{
	line-height: 2.9em;
	height: 2.9em;

}
#menu ul li a{
	display: block;
	color: #ffffff;
	padding: 0 1em;
	border: 1px solid #a94442;

}

#menu ul li:hover{
	background-color: #c78888;
}
#box1{
	background-color: #ffffff;
	width: 520px;
	height: 410px;
	border: 1px dashed #ccc5c5;
}
#box2{
	background-color: #ffffff;
	width: 520px;
	height: 210px;
	border: 1px dashed #ccc5c5;
}
*{
	box-sizing:  border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body{
	font-family: arial;
	font-weight: 300px;
	color: #333;
	line-height: 1.254;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #3b8bba;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

a:hover, a:visited{
	color: #265778;

}
/*chia cot web*/
#container{
	padding-left: 150px;
	position: relative;
	left: 0;
	width: 100%;
}
#menu{
	position:  fixed;
	height: 100%;
	background-color: #7d2929;
	width: 150px;
	left: 0;

}
#sidebar{
	position:  fixed;
	height: 50px;
	background-color: #7d2929;
	width: 100%;
	height: 2em;
	left: 0;

}
/*mecun*/
#menu ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#menu ul li{
	line-height: 2.9em;
	height: 2.9em;

}
#menu ul li a{
	display: block;
	color: #ffffff;
	padding: 0 1em;
	border: 1px solid #a94442;

}

#menu ul li:hover{
	background-color: #c78888;
}
#box1{
	background-color: #ffffff;
	width: 410px;
	height:410px;
	border: 1px dashed #ccc5c5;
}
#box2{
	background-color: #ffffff;
	width: 410px;
	height: 410px;
	border: 1px dashed #ccc5c5;
	margin-left: 640px;
	margin-top: -410px;
}

#box21{
	background-color: #ffffff;
	margin-top: 50px;
	border: 1px dashed #ccc5c5;
}
#box31{
	background-color: #ffffff;
	margin-top: 100px;
	border: 1px dashed #ccc5c5;	
}
.vien{

}
#sidebar img{
	float: right;
	margin-top: -20px;
	width: 170px;
	height: 60px;
}
#menu{
	padding-top: 150px;
}
#content{
	padding: 1em ;
	background-color: #f1f1f1;
	height: 100%;

}

